# Ignore dependencies (they make git slow)
**/node_modules/
**/dist/
**/.next/
**/build/

# Ignore environment variables & secrets
**/.env
**/.env.local

# Ignore OS specific files
.DS_Store
Thumbs.db
